@import url('https://fonts.googleapis.com/css2?family=Ruda:wght@400;900&family=Space+Grotesk:wght@300;500&display=swap');

@tailwind base;
/* https://theodorusclarence.com/blog/tailwindcss-best-practice */
@layer base {
    h1,
    .h1 {
      @apply font-sans tracking-tight font-black mb-3 text-4xl md:text-5xl lg:text-6xl;
    }
    
    h2,
    .h2 {
      @apply font-sans text-lg xs:text-2xl font-black lg:text-3xl;
    }
    
    h3,
    .h3 {
      @apply font-sans text-lg font-bold md:text-2xl;
    }
    
    h4,
    .h4 {
      @apply font-sans text-sm xs:text-base font-bold md:text-lg;
    }
    
    body,
    p,
    .p {
      @apply font-prose mt-1 font-light text-base xs:text-lg lg:text-xl;
    }

    .p-small {
      @apply font-prose mt-1 font-light text-base lg:text-lg;
    }

    .p-xsmall {
      @apply font-prose font-light text-xs lg:text-sm;
    }
}
@tailwind components;
@tailwind utilities;

.layout {
    /* max-width: 68.75rem; */
    width: 92%;
    margin-left: auto;
    margin-right: auto;
}

.tooltip-top::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  display:block;
  
  bottom: -100%;
  left: 80%;
  transform: translate(-50%);
  margin-bottom: 1rem;

  border-left: 0.4rem solid transparent;
  border-top: 0.6rem solid rgba(232, 224,0, 1);
  border-right: 0.4rem solid transparent;
}

.tooltip-right::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  display:block;
  
  top: 50%;
  left: 0%;
  transform: translate(0, -50%);
  margin-left: -0.5rem;

  border-top: 0.4rem solid transparent;
  border-right: 0.6rem solid rgba(232, 224,0, 1);
  border-bottom: 0.4rem solid transparent;
}

.tooltip-bottom::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  display:block;
  
  top: 0%;
  left: 85%;
  transform: translate(-50%);
  margin-top: -0.5rem;

  border-left: 0.4rem solid transparent;
  border-right: 0.4rem solid transparent;
  border-bottom: 0.6rem solid rgba(0, 0, 0, 1);
}

/* hide default blue highlight on mobile */
.mailto-link {
  -webkit-tap-highlight-color: transparent;
}


/* Hides scrollbar in firefox */
.slides {
  scrollbar-width: none;
}

/* Hides scrollbar in webkit and blink powered browsers */
.slides::-webkit-scrollbar {
    display: none;
}


/* links animation */
/* #home-whoami {
  text-transform: uppercase;
  font-weight: 900;
  text-decoration: none;
  color: white;
  display: inline-block;
  background-size: 120% 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -ms-background-clip: text;
  -ms-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  background-image: linear-gradient(45deg, 
                    #7794ff, 
                    #44107A,
                    #FF1361,
                    #FFF800);
  animation: .8s shake infinite alternate;
} */


.underline-link {
  text-transform: uppercase;
  overflow: hidden;
  /* font-weight: 500; */
  background-image: url(./images/underline.svg);
  background-position: 100% 110%;
  background-size: auto 0.35em;
  background-repeat: repeat-x;
  animation: gradient 10s linear infinite;
}

.underline-link:hover {
  animation: none;
  cursor:pointer
}

.underline-link-slow {

  overflow: hidden;
  /* font-weight: 500; */
  background-image: url(./images/underline.svg);
  background-position: 100% 110%;
  background-size: auto 0.35em;
  background-repeat: repeat-x;
  animation: gradient 20s linear infinite;
}



@keyframes gradient {
	0% {
		background-position: 100% 110%;
	}
	50% {
		background-position: 50% 110%;
	}
	100% {
		background-position: 0% 110%;
	}
}


@keyframes shake {
  0% { transform: skewX(-15deg); }
  5% { transform: skewX(15deg); }
  10% { transform: skewX(-15deg); }
  15% { transform: skewX(15deg); }
  20% { transform: skewX(0deg); }
  100% { transform: skewX(0deg); }  
}

