@tailwind base;
/* https://theodorusclarence.com/blog/tailwindcss-best-practice */
@layer base {
    h1,
    .h1 {
      @apply font-sans tracking-tight font-black mb-3 text-3xl md:text-4xl lg:text-5xl;
    }
    
    h2,
    .h2 {
      @apply font-sans text-xl font-bold md:text-3xl;
    }
    
    h3,
    .h3 {
      @apply font-sans text-lg font-bold md:text-2xl;
    }
    
    h4,
    .h4 {
      @apply font-sans text-base font-bold md:text-lg;
    }
    
    body,
    p,
    .p {
      @apply font-sans mt-1 text-sm xs:text-base lg:text-lg;
    }
}
@tailwind components;
@tailwind utilities;

.layout {
    /* max-width: 68.75rem; */
    width: 92%;
    margin-left: auto;
    margin-right: auto;
}